@{
    ViewBag.Title = "Am_Test";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(function () {
        GetGrid();
    })
    //加载表格
    function GetGrid() {
        $("#gridTable").jqGrid({
        url: "@Url.Content("~/AmmeterModule/Am_Test/GridPageJson")",
        datatype: "json",
        height: $(window).height() - 149,
        autowidth: true,
        colModel: [
                { label: 'Number', name: 'Number', index: 'Number', width: 0, align: 'left', hidden: true },
                { label: '李世勋', name: 'Testa', index: 'Testa', width: 120, align: 'left',sortable: true  },
                { label: '数量', name: 'Num', index: 'Num', width: 100, align: 'left',sortable: true  },
                {
                    label: "创建时间", name: "CreateTime", index: "CreateTime", width: 200,
                    formatter: function (value, options, rowObject) {
                        return formatDate(value, 'yyyy-MM-dd hh:mm:ss');
                    }
                },
                { label: '备注', name: 'Remark', index: 'Remark', width: 400, align: 'left',sortable: true  },
        ],
        pager: "#gridPager",
        sortname: 'CreateTime',
        sortorder: 'desc',
        rownumbers: true,
        shrinkToFit: false,
        gridview: true,
    });
}
    //新增
    function btn_add() {
        var url = "/AmmeterModule/Am_Test/Form"
        openDialog(url, "Form", "新增", 500, 200, function (iframe) {
            top.frames[iframe].AcceptClick()
        });
    }
    //编辑
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "Number");
        if (IsChecked(KeyValue)) {
            var url = "/AmmeterModule/Am_Test/Form?KeyValue=" + KeyValue;
            openDialog(url, "Form", "编辑", 500, 200, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
    }
    //删除
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "Number");
        if (IsDelData(KeyValue)) {
            var delparm = 'KeyValue=' + KeyValue;
            delConfig('/AmmeterModule/Am_Test/Delete', delparm, KeyValue.split(",").length);
        }
    }
    //明细
    function btn_detail() {
        var KeyValue = GetJqGridRowValue("#gridTable", "Number");
        if (IsChecked(KeyValue)) {
            var url = "/AmmeterModule/Am_Test/Detail?KeyValue=" + KeyValue;
            Dialog(url, "Detail", "明细", 500, 200, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
    }
    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
        
    }
    //搜索
    function btn_Search() {
        var keywords = $("#keywords").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/AmmeterModule/Am_Test/GridPageListJson")?Keyword=" + keywords , page: 1
    }).trigger('reloadGrid');
    }
</script>
<!--工具栏-->
<div class="tools_bar leftline rightline" style="margin: 1px; margin-bottom: 0px;">
    <div class="PartialButton">
        @Html.Partial("_PartialButton")
    </div>
</div>
<div class="leftline rightline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px;">
    <table border="0" class="form-find" style="height: 45px;">
        <tr>
            <th>关键字：</th>
            <td>
                <input id="keywords" type="text" class="txt" style="width: 200px" />
            </td>
            <td>
                <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
            </td>
        </tr>
    </table>
</div>
<div class="topline rightline" style="margin: 1px; margin-top: -1px;">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
