@{
    ViewBag.Title = "Ho_OnePage》明细页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<!--富文本框-->
<link rel="stylesheet" href="~/Content/Scripts/kindeditor-4.1.3/themes/default/default.css" />
<link rel="stylesheet" href="~/Content/Scripts/kindeditor-4.1.3/plugins/code/prettify.css" />
<script charset="utf-8" src="~/Content/Scripts/kindeditor-4.1.3/kindeditor.js"></script>
<script charset="utf-8" src="~/Content/Scripts/kindeditor-4.1.3/lang/zh_CN.js"></script>
<script charset="utf-8" src="~/Content/Scripts/kindeditor-4.1.3/plugins/code/prettify.js"></script>
<script type="text/javascript">
    var editor1;
    var editor2;
    KindEditor.ready(function (K) {
        editor1 = K.create('#PageDes', {
            cssPath: '/Content/Scripts/kindeditor-4.1.3/plugins/code/prettify.css',
            uploadJson: '/Tools/upload_json.ashx',
            fileManagerJson: '/Tools/file_manager_json.ashx',
            allowFileManager: true
        });
        editor2 = K.create('#PageContent', {
            cssPath: '/Content/Scripts/kindeditor-4.1.3/plugins/code/prettify.css',
            uploadJson: '/Tools/upload_json.ashx',
            fileManagerJson: '/Tools/file_manager_json.ashx',
            allowFileManager: true
        });
        prettyPrint();
    });
</script>
<script type="text/javascript">
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/WebModule/Ho_OnePage/SetForm", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);
            });
        }
    }
</script>
<form id="form1" style="margin: 1px">
    <table class="form">
        <tr>
            <th class='formTitle'>标题：</th>
            <td class='formValue'>
                <input id="Title" maxlength="128" type="text" class="txt" />
            </td>
            <th width="10"></th>
            <td class='formValue' rowspan="3">
                <img src="~/Content/Images/noimg.gif" id="pimg" width="150" height="150" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>缩略图：</th>
            <td class='formValue'>
            </td>
        </tr>
        <tr>
            <th class='formTitle'>备注：</th>
            <td class='formValue'>
                <textarea id="Remark" name="Remark" maxlength="600" class="txtArea" rows="2"></textarea>
            </td>
        </tr>
        <tr>
            <th class='formTitle'>描述：</th>
            <td class='formValue' colspan="3">
                <textarea id="PageDes" name="PageDes" maxlength="600" style="width:100%;" class="txtArea" rows="3"></textarea>
            </td>
        </tr>
        <tr>
            <th class='formTitle'>内容：</th>
            <td class='formValue' colspan="3">
                <textarea id="PageContent" rows="32" style="width:100%;" name="PageContent"></textarea>
            </td>
        </tr>
        <tr></tr>
    </table>
</form>
