@{
    ViewBag.Title = "Am_AmmeterMoney》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/AmmeterModule/Am_AmmeterMoney/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/AmmeterModule/Am_AmmeterMoney/SubmitForm?KeyValue=" + KeyValue, postData, function (data) {
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class='formTitle'>Number：</th>
            <td class='formValue'>
                <input id="Number" maxlength=50 type="text" class="txt"   />
            </td>
            <th class='formTitle'>Name：</th>
            <td class='formValue'>
                <input id="Name" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>Classify：</th>
            <td class='formValue'>
                <input id="Classify" maxlength=10 type="text" class="txt"   />
            </td>
            <th class='formTitle'>First：</th>
            <td class='formValue'>
                <input id="First" maxlength=10 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>FirstMoney：</th>
            <td class='formValue'>
                <input id="FirstMoney" maxlength=19 type="text" class="txt"   />
            </td>
            <th class='formTitle'>Second：</th>
            <td class='formValue'>
                <input id="Second" maxlength=10 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>SecondMoney：</th>
            <td class='formValue'>
                <input id="SecondMoney" maxlength=19 type="text" class="txt"   />
            </td>
            <th class='formTitle'>Third：</th>
            <td class='formValue'>
                <input id="Third" maxlength=10 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>ThirdMoney：</th>
            <td class='formValue'>
                <input id="ThirdMoney" maxlength=19 type="text" class="txt"   />
            </td>
            <th class='formTitle'>Fourth：</th>
            <td class='formValue'>
                <input id="Fourth" maxlength=10 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>FourthMoney：</th>
            <td class='formValue'>
                <input id="FourthMoney" maxlength=19 type="text" class="txt"   />
            </td>
            <th class='formTitle'>UserNumber：</th>
            <td class='formValue'>
                <input id="UserNumber" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>UserName：</th>
            <td class='formValue'>
                <input id="UserName" maxlength=50 type="text" class="txt"   />
            </td>
            <th class='formTitle'>UserRealName：</th>
            <td class='formValue'>
                <input id="UserRealName" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>CreateTime：</th>
            <td class='formValue'>
                <input id="CreateTime" maxlength=23 type="text" class="txt"   />
            </td>
            <th class='formTitle'>Status：</th>
            <td class='formValue'>
                <input id="Status" maxlength=10 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>StatusStr：</th>
            <td class='formValue'>
                <input id="StatusStr" maxlength=50 type="text" class="txt"   />
            </td>
            <th class='formTitle'>Remark：</th>
            <td class='formValue'>
                <input id="Remark" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
        </tr>
    </table>
</form>
