@{
    ViewBag.Title = "Am_AmmeterMoney》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/AmmeterModule/Am_AmmeterMoney/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/AmmeterModule/Am_AmmeterMoney/SubmitForm?KeyValue=" + KeyValue, postData, function (data) {
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class='formTitle'>名称：</th>
            <td class='formValue'>
                <input id="Name" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>价格类型：</th>
            <td class='formValue'>
                <input type="hidden" id="Classify" value="0" />
                <input id="Classifystr" maxlength=10 type="text" value="单费率电价(元)" readonly="readonly" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>电价：</th>
            <td class='formValue'>
                <input id="FirstMoney" maxlength=19 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
        <tr>
            <th class='formTitle'>备注：</th>
            <td class='formValue'>
                <textarea id="Remark" name="Remark" maxlength="600" class="txtArea" rows="3"></textarea>
            </td>
        </tr>
        <tr>
        </tr>
    </table>
</form>
