@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_Partial.cshtml";
}
<div class="all">
    <header class="header clear">
        <a href="javascript:history.go(-1);" class="return fl"></a>
        <h1 class="title">登录</h1>
    </header>

    <div class="tab-news" id="tab-news">
        <div class="tab-news-hd tab-hd-index bbot">
            <ul class="fix clear">
                <li class="on">密码登录</li>
                <li>验证码登录</li>
            </ul>
        </div>
        <div class="tab-news-con">
            @using (Ajax.BeginForm("LoginPwd", "Account", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "success" }, new { @id = "loginPwd" }))
            {
                @Html.AntiForgeryToken()
                <div class="con list-index active">
                    <div class="l-p clear">
                        <span class="l-phone fl"></span>
                        <input type="text" class="l-input fl" name="name" id="pwdName" maxlength="11" value="" placeholder="输入手机号码" />
                    </div>
                    <div class="l-p clear">
                        <span class="l-phone l-pass fl"></span>
                        <input type="password" class="l-input fl" name="pwd" id="pwd" value="" placeholder="输入密码" />
                    </div>
                    <a href="javascript:;" onclick="loginPwd()" class="btn-all">登录</a>
                    <div class="l-p l-pnone clear">
                        <a href="javascript:;" onclick="forget()" class="l-w fr">忘记密码</a><a href="/account/register" class="l-w fr">注册</a>
                    </div>
                </div>
            }

            <div class="con list-index">
                @using (Ajax.BeginForm("LoginCode", "Account", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "success" }, new { @id = "loginCode" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="l-p clear">
                        <span class="l-phone fl"></span>
                        <input type="number" class="l-input fl" name="name" id="codeName" maxlength="11" value="" placeholder="输入手机号码" />
                    </div>
                    <div class="l-yan clear">
                        <div class="l-p clear fl">
                            <span class="l-phone l-ycode fl"></span>
                            <input type="text" class="l-input fl" name="validCode" id="code" value="" placeholder="输入验证码" />
                        </div>
                        <div class="l-yz fr">
                            <input type="button" class="l-code fr" value="获取验证码" onclick="sendCode(this)" />
                        </div>
                    </div>
                    <a href="javascript:;" onclick="loginCode()" class="btn-all">登录</a>
                    <div class="l-p l-pnone clear">
                        <a href="javascript:;" onclick="forget()" class="l-w fr">忘记密码</a><a href="/account/register" class="l-w fr">注册</a>
                    </div>
                }
            </div>



        </div>
    </div>
</div>
<script src="~/Content/Scripts/TouchSlide.1.1.js"></script>


<script src="~/Content/Scripts/layer/layer.js"></script>
<script type="text/javascript">
    $(function () {
        var $inputs = $("input[name='name']");
        $inputs.keyup(function () {
            $inputs.val($(this).val());
        });
    });

    TouchSlide({
        slideCell: "#tab-news",
        titCell: ".tab-news-hd li",
        mainCell: ".tab-news-con",
        // effect: "leftLoop"
    });
    function loginPwd() {
        var phone = $('#pwdName').val();
        var strphone = /^1[3|4|5|7|8][0-9]\d{4,8}$/;
        if (!phone || phone.length <= 0 || !phone.match(strphone) || phone.length != 11) {
            layer.msg('请输入正确的手机号码', { time: 2000 });
            return;
        }
        var pwd = $('#pwd').val();
        if (pwd.length <= 0) {
            layer.msg('请输入密码', { time: 2000 });
            return;
        }
        if (pwd.length < 6 || pwd.length > 20) {
            layer.msg('请输入正确的密码', { time: 2000 });
            return;
        }
        $('#loginPwd').submit();
    }
    function loginCode() {
        var phone = $('#codeName').val();
        var strphone = /^1[3|4|5|7|8][0-9]\d{4,8}$/;
        if (!phone || phone.length <= 0 || !phone.match(strphone) || phone.length != 11) {
            layer.msg('请输入正确的手机号码', { time: 2000 });
            return;
        }
        var pwd = $('#code').val();
        if (pwd.length <= 0) {
            layer.msg('请输入验证码', { time: 2000 });
            return;
        }
        if (pwd.length < 1 || pwd.length > 4) {
            layer.msg('请输入正确的密码', { time: 2000 });
            return;
        }
        $('#loginCode').submit();
    }
    function success(data) {
        if (data.res == "Ok") {
            // layer.msg(data.Msg, { time: 800 });
            layer.msg('登录成功，跳转中...', { icon: 16 })

            setTimeout("jump()", 1000);
        } else {
            layer.msg(data.msg, { time: 2000 });
        }
    }
    function jump() {
        window.location.href = '@Url.Action("Index", "Personal")';
    }
    function forget() {
        window.location.href = '/account/forgetpwd?phone='+$('#pwdName').val();;
    }
</script>
<script>
    var clock = '';
    var nums = 60;
    var btn;
    function getVreifyCode() {
        var phone = $('#codeName').val();
        $.post("/Account/GetCode", { Phone: phone }, function (data) {
            if (data.res == "Ok") {
                layer.msg('发送成功', { time: 2000 });
            } else {
                layer.msg(data.msg, { time: 2000 });
            }

        });
    }
    function sendCode(thisBtn) {
        var phone = $('#codeName').val();
        var strphone = /^1[3|4|5|7|8][0-9]\d{4,8}$/;
        if (!phone || phone.length <= 0 || !phone.match(strphone)) {
            layer.msg('请输入正确的手机号码', { time: 2000 });
            return;
        }
        btn = thisBtn;
        btn.disabled = true;
        btn.value = nums + '秒重新获取';
        clock = setInterval(doLoop, 1000);
        getVreifyCode();
    }
    function doLoop() {
        nums--;
        if (nums > 0) {
            btn.value = nums + '秒重新获取';
        } else {
            clearInterval(clock);
            btn.disabled = false;
            btn.value = '获取验证码';
            nums = 60;
        }
    }
</script>
