@{
    ViewBag.Title = "注册";
    Layout = "~/Views/Shared/UiIndex.cshtml";
}
<div>
    <div>
        手机号：<input type="text" name="" />
    </div>
    <div>
        密码：<input type="text" name="" />
    </div>
    <div>
        确认密码：<input type="text" name="" />
    </div>
    <div>
        验证码：<input type="text" name="" /><img />
    </div>
    <div>
         <input type="button"  value="注册"/>
    </div>
</div>