@{
    ViewBag.Title = "报修记录";
    Layout = "~/Views/Shared/_Partial.cshtml";
}

<div class="all pro-all">
    <header class="header clear">
        <a href="javascript:history.go(-1);" class="return fl"></a>
        <h1 class="title">报修管理</h1>
    </header>
    <div class="tab-news" id="tab-news">
        <div class="tab-news-hd tab-hd-index bbot">
            <ul class="fix clear">
                <li class="on">待处理</li>
                <li>已处理</li>
            </ul>
        </div>
        <div class="tab-news-con pro-all" >
            <div class="con list-index all-pa active">
                <div class="pen-li clear">
                    <span class="pen-span fl">报修单</span>
                    <span class="pen-span pen-time fl">时间</span>
                    <span class="pen-span pen-z fl">状态</span>
                </div>
                <a class="pro repair-m pen-a clear" href="repair-processing.html">
                    <span class="pen-span fl">000057114</span>
                    <span class="pen-span pen-time fl">2018-02-02 12:12:12</span>
                    <span class="pen-span pen-ed re-blun fl">待处理</span>
                    <span class="repair-span fl">广西南宁青秀区  双阳路103号  1单元  103号</span>
                    <i class="icon-next"></i>
                </a>
                <a class="pro repair-m pen-a mt15 clear" href="repair-processing.html">
                    <span class="pen-span fl">000057114</span>
                    <span class="pen-span pen-time fl">2018-02-02 12:12:12</span>
                    <span class="pen-span pen-ed re-blun fl">待处理</span>
                    <span class="repair-span fl">广西南宁青秀区  双阳路103号  1单元  103号</span>
                    <i class="icon-next"></i>
                </a>
                <a class="pro repair-m pen-a mt15 clear" href="repair-processing.html">
                    <span class="pen-span fl">000057114</span>
                    <span class="pen-span pen-time fl">2018-02-02 12:12:12</span>
                    <span class="pen-span pen-ed re-blun fl">待处理</span>
                    <span class="repair-span fl">广西南宁青秀区  双阳路103号  1单元  103号</span>
                    <i class="icon-next"></i>
                </a>
                <a class="pro repair-m pen-a mt15 clear" href="repair-processing.html">
                    <span class="pen-span fl">000057114</span>
                    <span class="pen-span pen-time fl">2018-02-02 12:12:12</span>
                    <span class="pen-span pen-ed re-blun fl">待处理</span>
                    <span class="repair-span fl">广西南宁青秀区  双阳路103号  1单元  103号</span>
                    <i class="icon-next"></i>
                </a>
                <a class="pro repair-m pen-a mt15 clear" href="repair-processing.html">
                    <span class="pen-span fl">000057114</span>
                    <span class="pen-span pen-time fl">2018-02-02 12:12:12</span>
                    <span class="pen-span pen-ed re-blun fl">待处理</span>
                    <span class="repair-span fl">广西南宁青秀区  双阳路103号  1单元  103号</span>
                    <i class="icon-next"></i>
                </a>
                <a class="pro repair-m pen-a mt15 clear" href="repair-processing.html">
                    <span class="pen-span fl">000057114</span>
                    <span class="pen-span pen-time fl">2018-02-02 12:12:12</span>
                    <span class="pen-span pen-ed re-blun fl">待处理</span>
                    <span class="repair-span fl">广西南宁青秀区  双阳路103号  1单元  103号</span>
                    <i class="icon-next"></i>
                </a>
                <a class="pro repair-m pen-a mt15 clear" href="repair-processing.html">
                    <span class="pen-span fl">000057114</span>
                    <span class="pen-span pen-time fl">2018-02-02 12:12:12</span>
                    <span class="pen-span pen-ed re-blun fl">待处理</span>
                    <span class="repair-span fl">广西南宁青秀区  双阳路103号  1单元  103号</span>
                    <i class="icon-next"></i>
                </a>
            </div>

            <div class="con list-index all-pa"  >
                <div class="pen-li clear">
                    <span class="pen-span fl">报修单</span>
                    <span class="pen-span pen-time fl">时间</span>
                    <span class="pen-span pen-z fl">状态</span>
                </div>
                <a class="pro repair-m pen-a clear" href="processing-details.html">
                    <span class="pen-span fl">000057114</span>
                    <span class="pen-span pen-time fl">2018-02-02 12:12:12</span>
                    <span class="pen-span pen-ed fl">已处理</span>
                    <span class="repair-span fl">广西南宁青秀区  双阳路103号  1单元  103号</span>
                    <i class="icon-next"></i>
                </a>
                <a class="pro repair-m pen-a mt15 clear" href="processing-details.html">
                    <span class="pen-span fl">000057114</span>
                    <span class="pen-span pen-time fl">2018-02-02 12:12:12</span>
                    <span class="pen-span pen-ed fl">已处理</span>
                    <span class="repair-span fl">广西南宁青秀区  双阳路103号  1单元  103号</span>
                    <i class="icon-next"></i>
                </a>
                <a class="pro repair-m pen-a mt15 clear" href="processing-details.html">
                    <span class="pen-span fl">000057114</span>
                    <span class="pen-span pen-time fl">2018-02-02 12:12:12</span>
                    <span class="pen-span pen-ed fl">已处理</span>
                    <span class="repair-span fl">广西南宁青秀区  双阳路103号  1单元  103号</span>
                    <i class="icon-next"></i>
                </a>
            </div>
        </div>
    </div>
</div>


<link href="~/Content/Scripts/layui/css/layui.css" rel="stylesheet" />
<script src="~/Content/Scripts/layui/layui.js"></script>
<script>
    TouchSlide({ 
        slideCell:"#tab-news",
        titCell:".tab-news-hd li",
        mainCell:".tab-news-con",
        effect:"leftLoop"
    }); 
    layui.use('flow', function(){
        var flow = layui.flow;
        var count=0;
        if (@ViewBag.recordCount!=null) {
            count=@ViewBag.recordCount;
        }
        flow.load({
            elem: '#containerList', //流加载容器
            scrollElem: '#containerList',
            done: function(page, next){ //执行下一页的回调
                //模拟数据插入
                setTimeout(function () {
                    $.post("/Personal/RepairRecordList", { pageIndex: page ,type:0 }, function (data) {
                        var lis = [];
                        for (var i in data) {
                            lis.push("<a class=\"pro repair-m pen-a clear\" href=\"repair-processing.html\">");
                            lis.push("<span class=\"pen-span fl\">000057114</span>");
                            lis.push("<span class=\"pen-span pen-time fl\">2018-02-02 12:12:12</span>");
                            lis.push("<span class=\"repair-span fl\">广西南宁青秀区  双阳路103号  1单元  103号</span>");
                            lis.push("<span class=\"repair-span fl\">广西南宁青秀区  双阳路103号  1单元  103号</span>");
                            lis.push("<i class=\"icon-next\"></i>");
                        }
                        next(lis.join(''), page < count);
                    });
                }, 500);
            }
        });
    });


    layui.use('flow', function(){
        var flow = layui.flow;
        var count=0;
        if (@ViewBag.recordCount1!=null) {
            count=@ViewBag.recordCount1;
        }
        flow.load({
            elem: '#containerList1', //流加载容器
            scrollElem: '',
            done: function(page, next){ //执行下一页的回调
                //模拟数据插入
                setTimeout(function () {
                    $.post("/Personal/RepairRecordList", { pageIndex: page,type:1 }, function (data) {
                        var lis = [];
                        for (var i in data) {
                            lis.push("<a class=\"pro repair-m pen-a clear\" href=\"repair-processing.html\">");
                            lis.push("<span class=\"pen-span fl\">000057114</span>");
                            lis.push("<span class=\"pen-span pen-time fl\">2018-02-02 12:12:12</span>");
                            lis.push("<span class=\"repair-span fl\">广西南宁青秀区  双阳路103号  1单元  103号</span>");
                            lis.push("<span class=\"repair-span fl\">广西南宁青秀区  双阳路103号  1单元  103号</span>");
                            lis.push("<i class=\"icon-next\"></i>");
                        }
                        next(lis.join(''), page < count);
                    });
                }, 500);
            }
        });
    });
</script>

