@{
    ViewBag.Title = "报修";
    Layout = "~/Views/Shared/_Partial.cshtml";
}

<div class="all">
    <header class="header clear">
        <a href="javascript:history.go(-1);" class="return fl"></a>
        <h1 class="title">报修</h1>
    </header>
    <div class="bill-all">
        <a href="/Personal/RepairAdd1" class="repair bbot clear"><span class="bill-text m-man fl">添加报修</span><i class="icon-next fr"></i></a>
        <a href="/Personal/RepairRecord" class="repair bbot clear"><span class="bill-text m-man fl">报修记录</span><i class="icon-next fr"></i></a>
    </div>
</div>
