@{
    ViewBag.Title = "Am_AmDeposit》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/AmmeterModule/Am_AmDeposit/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/AmmeterModule/Am_AmDeposit/SubmitForm?KeyValue=" + KeyValue, postData, function (data) {
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class='formTitle'>Number：</th>
            <td class='formValue'>
                <input id="Number" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>U_Number：</th>
            <td class='formValue'>
                <input id="U_Number" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>UserName：</th>
            <td class='formValue'>
                <input id="UserName" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>Ammeter_Number：</th>
            <td class='formValue'>
                <input id="Ammeter_Number" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>Ammeter_Code：</th>
            <td class='formValue'>
                <input id="Ammeter_Code" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>Province：</th>
            <td class='formValue'>
                <input id="Province" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>City：</th>
            <td class='formValue'>
                <input id="City" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>County：</th>
            <td class='formValue'>
                <input id="County" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>Address：</th>
            <td class='formValue'>
                <input id="Address" maxlength=512 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>Cell：</th>
            <td class='formValue'>
                <input id="Cell" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>Floor：</th>
            <td class='formValue'>
                <input id="Floor" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>Room：</th>
            <td class='formValue'>
                <input id="Room" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>CreateTime：</th>
            <td class='formValue'>
                <input id="CreateTime" maxlength=23 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>Status：</th>
            <td class='formValue'>
                <input id="Status" maxlength=10 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>StatusStr：</th>
            <td class='formValue'>
                <input id="StatusStr" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>Money：</th>
            <td class='formValue'>
                <input id="Money" maxlength=19 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>CurrMoeny：</th>
            <td class='formValue'>
                <input id="CurrMoeny" maxlength=19 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>UpdateTime：</th>
            <td class='formValue'>
                <input id="UpdateTime" maxlength=23 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>Remark：</th>
            <td class='formValue'>
                <input id="Remark" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
        </tr>
    </table>
</form>
