@{
    ViewBag.Title = "Am_PayToUserMoneyDetails》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/AmmeterModule/Am_PayToUserMoneyDetails/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/AmmeterModule/Am_PayToUserMoneyDetails/SubmitForm?KeyValue=" + KeyValue, postData, function (data) {
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class='formTitle'>Number：</th>
            <td class='formValue'>
                <input id="Number" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>UserNumber：</th>
            <td class='formValue'>
                <input id="UserNumber" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>UserName：</th>
            <td class='formValue'>
                <input id="UserName" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>UName：</th>
            <td class='formValue'>
                <input id="UName" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>TaskNumber：</th>
            <td class='formValue'>
                <input id="TaskNumber" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>TotalMoney：</th>
            <td class='formValue'>
                <input id="TotalMoney" maxlength=19 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>Money：</th>
            <td class='formValue'>
                <input id="Money" maxlength=19 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>MoneyFree：</th>
            <td class='formValue'>
                <input id="MoneyFree" maxlength=19 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>CreateTime：</th>
            <td class='formValue'>
                <input id="CreateTime" maxlength=23 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>F_UserNumber：</th>
            <td class='formValue'>
                <input id="F_UserNumber" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>F_UserName：</th>
            <td class='formValue'>
                <input id="F_UserName" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>F_UName：</th>
            <td class='formValue'>
                <input id="F_UName" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>OpenId：</th>
            <td class='formValue'>
                <input id="OpenId" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>OperateType：</th>
            <td class='formValue'>
                <input id="OperateType" maxlength=10 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>OperateTypeStr：</th>
            <td class='formValue'>
                <input id="OperateTypeStr" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>ObjectNumber：</th>
            <td class='formValue'>
                <input id="ObjectNumber" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>Remark：</th>
            <td class='formValue'>
                <input id="Remark" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
        </tr>
    </table>
</form>
