@{
    ViewBag.Title = "Am_AmmeterType》明细页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/AmmeterModule/Am_AmmeterType/SetForm", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);
            });
        }
    }
</script>
<form id="form1" style="margin: 1px">
    <table class="form">
        <tr>
            <th class='formTitle'>名称：</th>
            <td class='formValue'>
                <label id="Name" />
            </td>
            <th class='formTitle'>接线方式：</th>
            <td class='formValue'>
                <label id="Jxfs" />
            </td>
            <th class='formTitle'>通讯规约：</th>
            <td class='formValue'>
                <label id="Txgy" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>电价类型：</th>
            <td class='formValue'>
                <label id="Djlx" />
            </td>
            <th class='formTitle'>阶梯类型：</th>
            <td class='formValue'>
                <label id="Jtlx" />
            </td>
            <th class='formTitle'>电表类型：</th>
            <td class='formValue'>
                <label id="Dblx" />
            </td>
            <th class='formTitle'>权限：</th>
            <td class='formValue'>
                <label id="Qx" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>密码：</th>
            <td class='formValue'>
                <label id="PASSWORD" />
            </td>
            <th class='formTitle'>其他类型：</th>
            <td class='formValue'>
                <label id="OtherType" />
            </td>
            <th class='formTitle'>用户编号：</th>
            <td class='formValue'>
                <label id="UserNumber" />
            </td>
            <th class='formTitle'>用户名：</th>
            <td class='formValue'>
                <label id="UserName" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>姓名：</th>
            <td class='formValue'>
                <label id="UserRealName" />
            </td>
            <th class='formTitle'>备注：</th>
            <td class='formValue'>
                <label id="Remark" />
            </td>
        </tr>
    </table>
</form>
