<footer class="foot">
    <div class="footer">
        <ul class="foot-ul clear">
            <li class="foot-li"><a href="index.html" class="foot-a foot-on"><i class="icon icon-home"></i><span class="foot-span">首页</span></a></li>
            <li class="foot-li"><a href="interpreter-list.html" class="foot-a"><i class="icon icon-look"></i><span class="foot-span">找翻菜类</span></a></li>
            <li class="foot-li"><a href="rapid-reservation.html" class="foot-a"><i class="icon icon-book"></i><span class="foot-span">拼友团</span></a></li>
            <li class="foot-li"><a href="center.html" class="foot-a"><i class="icon icon-center"></i><span class="foot-span">个人中心</span></a></li>
        </ul>
    </div>
</footer>