<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
 <meta name="apple-mobile-web-app-capable" content="yes">
 <meta name="apple-mobile-web-app-status-bar-style" content="black">
 <meta name="format-detection" content="telephone=no">
 <title>@ViewBag.Title</title>
 <link href="~/Content/Styles/com.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Scripts/mtip/jquery.m.toast.css" rel="stylesheet" type="text/css">
 @RenderSection("css", false)
</head>

<body class="bg">

    @RenderBody()
  
    <script type="text/javascript" src="~/Content/Scripts/validate/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/uijs/area.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/uijs/uiindex.js"></script>
    @*<script type="text/javascript" src="~/Content/Scripts/uijs/validator/learunui-validator.js"></script>*@
    <script type="text/javascript" src="~/Content/Scripts/mtip/jquery.m.toast.js"></script>
    @RenderSection("scripts", false) 
        
</body>
</html>