@{
    ViewBag.Title = "Am_Bill";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(function () {
        GetGrid();
    })
    //加载表格
    function GetGrid() {
        $("#gridTable").jqGrid({
        url: "@Url.Content("~/AmmeterModule/Am_Bill/GridPageJson")",
        datatype: "json",
        height: $(window).height() - 149,
        autowidth: true,
        colModel: [
                { label: 'Number', name: 'Number', index: 'Number', width: 0, align: 'left',sortable: true  },
                { label: 'BillCode', name: 'BillCode', index: 'BillCode', width: 0, align: 'left',sortable: true  },
                { label: 'AmmeterNumber', name: 'AmmeterNumber', index: 'AmmeterNumber', width: 0, align: 'left',sortable: true  },
                { label: 'AmmeterCode', name: 'AmmeterCode', index: 'AmmeterCode', width: 0, align: 'left',sortable: true  },
                { label: 'F_U_Number', name: 'F_U_Number', index: 'F_U_Number', width: 0, align: 'left',sortable: true  },
                { label: 'F_UserName', name: 'F_UserName', index: 'F_UserName', width: 0, align: 'left',sortable: true  },
                { label: 'F_U_Name', name: 'F_U_Name', index: 'F_U_Name', width: 0, align: 'left',sortable: true  },
                { label: 'T_U_Number', name: 'T_U_Number', index: 'T_U_Number', width: 0, align: 'left',sortable: true  },
                { label: 'T_UserName', name: 'T_UserName', index: 'T_UserName', width: 0, align: 'left',sortable: true  },
                { label: 'T_U_Name', name: 'T_U_Name', index: 'T_U_Name', width: 0, align: 'left',sortable: true  },
                { label: 'CreateTime', name: 'CreateTime', index: 'CreateTime', width: 0, align: 'left',sortable: true  },
                { label: 'Status', name: 'Status', index: 'Status', width: 0, align: 'left',sortable: true  },
                { label: 'StatusStr', name: 'StatusStr', index: 'StatusStr', width: 0, align: 'left',sortable: true  },
                { label: 'Money', name: 'Money', index: 'Money', width: 0, align: 'left',sortable: true  },
                { label: 'OtherFees', name: 'OtherFees', index: 'OtherFees', width: 0, align: 'left',sortable: true  },
                { label: 'SendTime', name: 'SendTime', index: 'SendTime', width: 0, align: 'left',sortable: true  },
                { label: 'PayTime', name: 'PayTime', index: 'PayTime', width: 0, align: 'left',sortable: true  },
                { label: 'Province', name: 'Province', index: 'Province', width: 0, align: 'left',sortable: true  },
                { label: 'City', name: 'City', index: 'City', width: 0, align: 'left',sortable: true  },
                { label: 'County', name: 'County', index: 'County', width: 0, align: 'left',sortable: true  },
                { label: 'Cell', name: 'Cell', index: 'Cell', width: 0, align: 'left',sortable: true  },
                { label: 'Floor', name: 'Floor', index: 'Floor', width: 0, align: 'left',sortable: true  },
                { label: 'Room', name: 'Room', index: 'Room', width: 0, align: 'left',sortable: true  },
                { label: 'Address', name: 'Address', index: 'Address', width: 0, align: 'left',sortable: true  },
                { label: 'Remark', name: 'Remark', index: 'Remark', width: 0, align: 'left',sortable: true  },
        ],
        pager: "#gridPager",
        sortname: '',
        sortorder: 'desc',
        rownumbers: true,
        shrinkToFit: false,
        gridview: true,
    });
}
    //新增
    function btn_add() {
        var url = "/AmmeterModule/Am_Bill/Form"
        openDialog(url, "Form", "新增Am_Bill", 770, 395, function (iframe) {
            top.frames[iframe].AcceptClick()
        });
    }
    //编辑
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "AmmeterNumber");
        if (IsChecked(KeyValue)) {
            var url = "/AmmeterModule/Am_Bill/Form?KeyValue=" + KeyValue;
            openDialog(url, "Form", "编辑Am_Bill", 770, 395, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
    }
    //删除
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "AmmeterNumber");
        if (IsDelData(KeyValue)) {
            var delparm = 'KeyValue=' + KeyValue;
            delConfig('/AmmeterModule/Am_Bill/Delete', delparm, KeyValue.split(",").length);
        }
    }
    //明细
    function btn_detail() {
        var KeyValue = GetJqGridRowValue("#gridTable", "AmmeterNumber");
        if (IsChecked(KeyValue)) {
            var url = "/AmmeterModule/Am_Bill/Detail?KeyValue=" + KeyValue;
            Dialog(url, "Detail", "Am_Bill明细", 820, 500, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
    }
    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
        
    }
</script>
<!--工具栏-->
<div class="tools_bar leftline rightline" style="margin: 1px; margin-bottom: 0px;">
    <div class="PartialButton">
        @Html.Partial("_PartialButton")
    </div>
</div>
<div class="leftline rightline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px;">
    <table border="0" class="form-find" style="height: 45px;">
        <tr>
            <th>关键字：</th>
            <td>
                <input id="keywords" type="text" class="txt" style="width: 200px" />
            </td>
            <td>
                <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
            </td>
        </tr>
    </table>
</div>
<div class="topline rightline" style="margin: 1px; margin-top: -1px;">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
