@{
    ViewBag.Title = "合伙人》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/HouseModule/Ho_PartnerUser/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebHtmlValue(data);
                $("#Remarkstr").val(data.Remark);
                $("#pimg1").attr("src", (!IsNullOrEmpty(data.CodeImg1) ? "/Content/Images/noimg.gif" : data.CodeImg1));
                $("#pimg2").attr("src", (!IsNullOrEmpty(data.CodeImg2) ? "/Content/Images/noimg.gif" : data.CodeImg2));
                $("#CreatTime").text(formatDate(data.CreatTime,"yyyy-MM-dd hh:mm:ss"));
                $("#SureTime").text(formatDate(data.SureTime, "yyyy-MM-dd hh:mm:ss"));
                //获取用户角色
                AjaxJson("/AmmeterModule/Ho_PartnerUser/GetUserRole", "", function (data) {
                    $.each(data, function (i) {
                        $("#UserRoleNumber").append($("<option></option>").val(data[i].Number).html(data[i].RoleName));
                    });
                });
                //设置select
                $("#StatusS").val(data.Status);
                $("#UserRoleNumber").val(data.As_Number);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = jQuery.parseJSON('{"Status":"' + $("#StatusS").val() +
            '","As_Number":"' + $("#As_Numberx").val() + '","CodeImg1":"' + $("#CodeImg1").val() +
            '","CodeImg2":"' + $("#CodeImg2").val() + '","InnerCode":"' + $("#InnerCode").val() +
            '","Name":"' + $("#Name").val() + '","CardCode":"' + $("#CardCode").val() +
                '","Mobile":"' + $("#Mobile").val() + '","Remark":"' + $("#Remarkstr").val() + '"}');
        AjaxJson("/HouseModule/Ho_PartnerUser/SubmitUserForm?KeyValue=" + KeyValue, postData, function (data) {
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class='formTitle'>姓名：</th>
            <td class='formValue'>
                @*<label id="Name" />*@
                <input id="Name" maxlength=12 type="text" class="txt required" datacol="yes" err="角色名称" checkexpession="NotNull"  />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>手机号：</th>
            <td class='formValue'>
                @*<label id="Mobile" />*@
                <input id="Mobile" maxlength=11 type="text" class="txt required" datacol="yes" err="手机号" checkexpession="NotNull"  />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>登录密码：</th>
            <td class='formValue'>
                @*<label id="Mobile" />*@
                <input id="Password" maxlength=16 type="text" class="txt required" datacol="yes" err="登录密码" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>身份证号：</th>
            <td class='formValue'>
                @*<label id="CardCode" />*@
                <input id="CardCode" maxlength=18 type="text" class="txt" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>备注：</th>
            <td class='formValue'>
                <textarea id="Remarkstr" name="Remarkstr" maxlength="600" class="txtArea" rows="7"></textarea>
            </td>
        </tr>
    </table>
</form>
