@{
    ViewBag.Title = "完善信息";
    Layout = "~/Views/Shared/_Partial.cshtml";
}
@*<script src="~/Content/Scripts/uijs/jqthumb.min.js"></script>*@
<script src="~/Content/Scripts/uijs/checkFileTypeAndSize.js"></script>
<script type="text/javascript">
    $(function () {
        PwdBox.init('', '/Content/Scripts/passwordBox/img/pwd_keyboard.png', '请输入支付密码', '安全支付环境，请放心使用！');
        $("#dj1").click(function myfunction() {
            PwdBox.show(function (res) {
                if (res.status) {
                    $("#PayPassword").val(res.password);
                    //关闭并重置密码输入
                    setTimeout("PwdBox.reset();", 500);
                } else {
                    //alert(JSON.stringify(arguments));
                }
            });
        });
        $("#dj2").click(function myfunction() {
            PwdBox.show(function (res) {
                if (res.status) {
                    $("#ConfirmPayPassword").val(res.password);
                    //关闭并重置密码输入
                    setTimeout("PwdBox.reset();", 500);
                    
                } else {
                    //alert(JSON.stringify(arguments));
                }
            });
        });

        $("#PayPassword").focus(function () {
            document.activeElement.blur();
        });
        $("#ConfirmPayPassword").focus(function () {
            document.activeElement.blur();
        });


        $("#img1").click(function () {
            $("#imguploadimg1").click();
        })
        $("#img2").click(function () {
            $("#imguploadimg2").click();
        })
        //$('.in-la img').jqthumb({
        //    width: 3,
        //    height: 3,
        //});

        $("#imguploadimg1").checkFileTypeAndSize({
            allowedExtensions: ['jpg', 'jpeg', 'gif', 'png'],
            maxSize: 6144, //最大允许1024KB，即1MB
            success: function () {
                //上传文件数据准备
                var fd = new FormData();
                fd.append('image', $('#imguploadimg1')[0].files[0]);
                $.ajax({
                    url: '@Url.Action("UploadFile", "Info")',
                    type: "POST",
                    data: fd,
                    contentType: false,
                    cache: false,
                    processData: false,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        $.toast(data.message);
                        $("#CodeImg1").val(data.filepath);
                        $("#img1").attr("src", data.filepath);

                    }
                });

            },
            extensionerror: function () {
                $.toast("允许的格式为：jpg,jpeg,gif,png");
                return;
            },
            sizeerror: function () {
                $.toast("最大尺寸6144KB,即6MB");
                return;
            }
        });

        $("#imguploadimg2").checkFileTypeAndSize({
            allowedExtensions: ['jpg', 'jpeg', 'gif', 'png'],
            maxSize: 5120, //最大允许1024KB，即1MB
            success: function () {
                //上传文件数据准备
                var fd = new FormData();
                fd.append('image', $('#imguploadimg2')[0].files[0]);
                $.ajax({
                    url: '@Url.Action("UploadFile", "Info")',
                    type: "POST",
                    data: fd,
                    contentType: false,
                    cache: false,
                    processData: false,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        $.toast(data.message);
                        $("#CodeImg2").val(data.filepath);
                        $("#img2").attr("src", data.filepath);

                    }
                });

            },
            extensionerror: function () {
                $.toast("允许的格式为：jpg,jpeg,gif,png");
                return;
            },
            sizeerror: function () {
                $.toast("最大尺寸5120KB,即5MB");
                return;
            }
        });
    });
</script>




<div class="all">

    <header class="header clear">
        <a href="javascript:history.go(-1);" class="return fl"></a>
        <h1 class="title">完善信息</h1>
    </header>
    <div class="perfect-mian">
        @using (Ajax.BeginForm("Perfect", "Info", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "success" }, new { @id = "form" }))
        {
            <div class="add-co card-li bbot clear">
                <span class="bill-text fl">姓名</span>
                <input name="Name" type="text" class="l-input fl" value="" placeholder="姓名">

            </div>
            <div class="add-co card-li bbot clear">
                <span class="bill-text fl">性别</span>
                <select name="Sex" class="charge-se fl"><option>男</option><option>女</option></select>
            </div>
            <div class="add-co card-li bbot clear">
                <span class="bill-text fl">身份证号码</span>
                <input name="CardCode" type="text" class="l-input fl" value="" maxlength="18" placeholder="输入身份证号码">
            </div>
            @*<div class="add-co card-li clear">
                <span class="bill-text fl">身份证上传</span>

            </div>*@
            <div class="add-co card-li">

                <span class="bill-text fl">身份证正面</span>

                <div class="card-img clear mt10">

                    <div class="card-one fl">
                        <img id="img1" src="/content/images/upto.png" alt="">
                        <input type="hidden" name="CodeImg1" id="CodeImg1" />
                        <input style="display :none " type="file" id="imguploadimg1" />

                    </div>

                </div>
            </div>
            <div class="add-co card-li mt20 clear">
                <span class="bill-text fl">身份证反面</span>

                <div class="card-img clear mt10">

                    <div class="card-one fl" id="localImags">
                        <img id="img2" src="/content/images/upto.png" alt="">
                        <input type="hidden" name="CodeImg2" id="CodeImg2" />
                        <input style="display :none " type="file" id="imguploadimg2" />
                    </div>
                </div>
            </div>
            <div class="add-co card-li bbot btop mt15 clear">
                <span class="bill-text fl">地址</span>
                <input name="Address" type="text" class="l-input fl" value="" placeholder="地址">
            </div>
            <div class="add-co card-li bbot clear">
                <span class="bill-text fl">支付密码</span>
                <a id="dj1">
                    <input name="PayPassword" type="password" maxlength="6" class="l-input fl" value="" placeholder="支付密码" id="PayPassword">
                </a>
            </div>
            <div class="add-co card-li bbot clear">
                <span class="bill-text fl">确认支付密码</span>
                <a id="dj2">
                    <input name="ConfirmPayPassword" id="ConfirmPayPassword" type="password" maxlength="6" class="l-input fl" value="" placeholder="确认支付密码">
                </a>
            </div>
        }
    </div>
    <div class="list-index"><a href="javascript:;" onclick="subform()" class="btn-all">提交</a></div>
</div>
<script src="~/Content/Scripts/passwordBox/passwordBox.min.js"></script>
<script>

    function subform() {
        var name = $("input[name='Name']").val();
        if (name.length <= 0) {
            layer.msg('请输入姓名', { time: 2000 });
            return;
        }
        var CardCode = $("input[name='CardCode']").val();
        if (CardCode.length <= 0) {
            layer.msg('请输入身份证号码', { time: 2000 });
            return;
        }
        var CodeImg1 = $("input[name='CodeImg1']").val();
        if (CodeImg1.length <= 0) {
            layer.msg('请上传正面身份证照片', { time: 2000 });
            return;
        }
        var CodeImg2 = $("input[name='CodeImg2']").val();
        if (CodeImg2.length <= 0) {
            layer.msg('请上传背面身份证照片', { time: 2000 });
            return;
        }
        var Address = $("input[name='Address']").val();
        if (Address.length <= 0) {
            layer.msg('请输入地址', { time: 2000 });
            return;
        }
        var PayPassword = $("input[name='PayPassword']").val();
        if (PayPassword.length <= 0) {
            layer.msg('请输入支付密码', { time: 2000 });
            return;
        }
        var ConfirmPayPassword = $("input[name='ConfirmPayPassword']").val();
        if (ConfirmPayPassword.length <= 0) {
            layer.msg('请输入确认支付密码', { time: 2000 });
            return;
        }
        if (PayPassword != ConfirmPayPassword) {
            layer.msg('两个密码不一致', { time: 2000 });
            return;
        }
        $("#form").submit();
    }
    function success(data) {
        if (data.res == "Ok") {
            layer.msg(data.msg, { time: 1000 });
            setTimeout("jump()", 1000);
        } else {
            layer.msg(data.msg, { time: 2000 });
        }
    }
    function jump() {
        window.location.href = '@Url.Action("Index", "Personal")';
    }

</script>