@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <title>页面出错了</title>
    <link href="~/Content/Styles/Error.css" rel="stylesheet" />
</head>
<body>
    <div class="flase">
        <div class="f-main">
            <div class="f-img"><img src="~/Content/Images/false.png" alt="" /></div>
            <div class="f-text">
                <p>糟糕，页面出错了，<br />快帮我看下发型有没有乱~</p>
            </div>
            <div class="f-btn">
                <div class="f-all clear">
                    <a href="javascript:history.go(-1);" class="f-btn1">退后一步</a>@*<a href="/" class="f-btn1">返回首页</a>*@
                </div>
            </div>
        </div>
    </div>
</body>
</html>
