@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>合伙人代理合同</title>
    <meta charset="utf-8">
    <meta name="apple-touch-fullscreen" content="YES">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="pragram" content="no-cache">
    <script type="text/javascript">
!function(J){function H(){var d=E.getBoundingClientRect().width;var e=(d/7.5>100*B?100*B:(d/7.5<42?42:d/7.5));E.style.fontSize=e+"px",J.rem=e}var G,F=J.document,E=F.documentElement,D=F.querySelector('meta[name="viewport"]'),B=0,A=0;if(D){var y=D.getAttribute("content").match(/initial\-scale=([\d\.]+)/);y&&(A=parseFloat(y[1]),B=parseInt(1/A))}if(!B&&!A){var u=(J.navigator.appVersion.match(/android/gi),J.navigator.appVersion.match(/iphone/gi)),t=J.devicePixelRatio;B=u?t>=3&&(!B||B>=3)?3:t>=2&&(!B||B>=2)?2:1:1,A=1/B}if(E.setAttribute("data-dpr",B),!D){if(D=F.createElement("meta"),D.setAttribute("name","viewport"),D.setAttribute("content","initial-scale="+A+", maximum-scale="+A+", minimum-scale="+A+", user-scalable=no"),E.firstElementChild){E.firstElementChild.appendChild(D)}else{var s=F.createElement("div");s.appendChild(D),F.write(s.innerHTML)}}J.addEventListener("resize",function(){clearTimeout(G),G=setTimeout(H,300)},!1),J.addEventListener("pageshow",function(b){b.persisted&&(clearTimeout(G),G=setTimeout(H,300))},!1),H()}(window);
if (typeof(M) == 'undefined' || !M){
window.M = {};
}
    </script>
    <style>
        *, html {
            margin: 0;
            padding: 0;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            max-width: 640px;
        }

        html, body {
            margin: 0 auto;
            background: #f5f5f5;
        }

        body {
            -webkit-text-size-adjust: none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            font-size: 0.28rem;
            font-family: "微软雅黑";
            color: #333;
            padding: 0;
            margin: 0;
            font-size: 0.28rem;
        }

        h1, h2, h3, h4, h5, h6, strong, b {
            font-weight: normal;
        }

        .clear:before, .clear:after {
            display: table;
            content: '';
        }

        .clear:after {
            clear: both;
        }

        .fl {
            float: left;
        }

        .fr {
            float: right;
        }

        .main {
            width: 100%;
            padding: 0.3rem;
        }

        .top {
            width: 100%;
            height: 1rem;
            line-height: 0.8rem;
            padding: 0.1rem;
            text-align: center;
            font-weight: 700;
            font-size: 0.36rem;
        }

        .nane {
            display: block;
            width: 100%;
            height: 0.8rem;
            line-height: 0.8rem;
            font-size: 0.32rem;
            font-weight: 600;
        }

        .main p {
            text-align: left;
            text-indent: 0.54rem;
            line-height: 1.4;
        }

        .textbold {
            display: block;
            width: 100%;
            height: 0.8rem;
            padding-top: 0.2rem;
            line-height: 0.6rem;
            font-size: 0.32rem;
            font-weight: 600;
        }

        .text-fen {
            width: 100%;
            padding: 0.4rem 0;
        }

        .left {
            display: block;
            width: 50%;
            height: 0.8rem;
            line-height: 0.8rem;
            font-size: 0.32rem;
            font-weight: 600;
        }

            .left:nth-child(1) {
                padding-right: 0.2rem;
            }
    </style>
</head>
<body>
    <div class="main">
        <h3 class="top">《合伙人代理合同》</h3>
        <span class="nane">甲方：广西房先生房地产有限公司</span>
        <span class="nane">乙方：@ViewBag.Name  (@ViewBag.Code)</span>
        <p>甲乙双方本着互惠互利，诚实守信的原则，根据《中华人民共和国合同法》的有关规定，双方就合作销售甲方代理的所有楼盘项目，有关事宜达成以下协议。</p>
        <strong class="textbold">1：项目概况</strong>
        <p>甲方代理的所有楼盘物业项目</p>
        <strong class="textbold">2：合作期限</strong>
        <p>
            ，，，，，，，，
            <strong class="textbold">3：甲方的权利及义务</strong>
        <p>（1）,甲方保证所代理项目的合法性和真实性，如果乙方的不实宣传或欺诈行为造成的纠纷，则由乙方负责</p>
        <p>（2）,甲方协助乙方完成客户在甲方项目参观，选购和签约，收款等各项接待程序，并保证现场的接待质量，乙方接待客户整个行程所产生的各种开支费用，甲方不予承担</p>
        <p>（3），甲方保证乙方业务成功后，准时，安全的结算佣金，如果出现结佣纠纷，若是甲方问题，，由甲方负责。若是甲方代理物业项目所属公司的问题， 甲方负责组织乙方通过合法程序。解决乙方佣金安全到账问题</p>
        <p>（4），甲方不收取乙方及乙方客户任何有关售房业务中的费用</p>
        <strong class="textbold">4：乙方的权利及义务</strong>
        <p>（1）乙方应统一服从甲方销售管理，全力配合甲方销售工作。</p>
        <p>（2）已签定《认购协议书》的客户，乙方需协助甲方完成《商品房买卖合同》的换签，回款，按揭资料的收集等工作，完成以上全部工作后，才视为乙方履行完本合同约定的义务。</p>
        <p>（3）乙方负责客户购房行程的人身安全及财产安全，甲方不予负责</p>
        <p>（4）乙方不能 私自以甲方名义向客户收取房款及其它费用，因此对客户造成的损失，乙方负责</p>
        <p>（5）乙方不得借甲方和开发商的名义及场地从事非法及损害甲方和开发商利益事情，否则应赔偿所造成的损失</p>
        <strong class="textbold">5：佣金计算方式</strong>
        <p>乙方代理佣金的计算，以乙方成功销售的项目面积，及该项目对应的佣金价格为依据进行清算。</p>
        <strong class="textbold">6：佣金支付方式</strong>
        <p>甲方根据购房现场，乙方提供的本人身份证信息及收款账号，在甲方承诺的结佣时间内，将乙方该得佣金转入乙方提供收款账号。</p>
        <strong class="textbold">7：佣金支付条件及时间</strong>
        <p>1以购房现场签订的《销售确认书》为准</p>
        <strong class="textbold">8：合同终止</strong>
        <strong class="textbold">9：其它</strong>
        <p>1凡有关本合同或执行本合同发生的争议，应经过友好协商解决，若不能协商解决，任何一方均可将争议提交甲方所在地防城港人民法院进行法律诉讼，</p>
        <p>2本合同为电子合同，，乙方可在甲方官网签定后，自行打印一份保管，乙方签定本电子合同即为生效，</p>
        <p>3本合同未尽事宜，需由双方友好协商，另订补充合同附于本合同之内，所有补充合同在法理上均与本合同有同等效力</p>
        <div class="text-fen clear"><span class="left fl">甲方:广西房先生房地产有限公司</span><span class="left fr">乙方：@ViewBag.Name</span><span class="left fr">时间：@ViewBag.CreateTime</span></div>
    </div>
</body>
</html>
