<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 默认数据库软件类型：Oracle,SqlServer,MySql,Access,SQLite-->
  <add key="ComponentDbType" value="SqlServer" />
  <!-- 连接字符串是否加密-->
  <add key="ConStringDESEncrypt" value="false" />
  <!-- 代码生成器连接数据源模式：DataBase、PowerDesigner-->
  <add key="CodeMaticMode" value="DataBase" />
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- ================== 2：这里主要是服务器端配置项内容部分 ================== -->
  <!-- 系统默认登录账户，不能蒋账户修改  -->
  <add key="CurrentUserName" value="System" />
  <!-- 系统默认登录密码,密码是MD5 -->
  <add key="CurrentPassword" value="4a7d1ed414474e4033ac29ccb8653d9b" />
  <!-- 是否启动服务器缓存-->
  <add key="IsCache" value="true" />
  <!-- 服务器缓存设置时间（分钟）-->
  <add key="TimeCache" value="5" />
  <!-- 最大在线用户数量限制 -->
  <add key="OnLineLimit" value="200" />
  <!-- 允许重复登录,多人用同一帐号同时登录 -->
  <add key="CheckOnLine" value="false" />
  <!-- IP限制验证 -->
  <add key="VerifyIPAddress" value="false" />
  <!-- ================== 3：系统性的参数配置 ================== -->
  <!-- 软件是否试用 -->
  <add key="IsRegistration" value="false" />
  <!-- 软件注册码 -->
  <add key="RegistrationCode" value="2a1b132c0e64fa299b014b39f7de5c2f" />
  <!-- 当前客户公司名称 -->
  <add key="CustomerCompanyName" value="至善堂" />
  <!-- 软件名称 -->
  <add key="SoftName" value="智慧租房管家" />
  <!-- 当前软件版本 -->
  <add key="Version" value="4.1" />
  <!-- 联系我们信息 -->
  <add key="Contact" value="QQ：393319165;Email：393319165@qq.com;" />
  <!-- 软件许可证编号 -->
  <add key="Licence" value="NO:2013101712345678" />
  <!-- ================== 4：系统邮件错误报告反馈相关 ================== -->
  <!-- 软件的错误报告发给谁 -->
  <add key="ErrorReportTo" value="393319165@qq.com,393319165@qq.com" />
  <!-- 发出错误邮箱的地址 -->
  <add key="ErrorReportMailUserName" value="393319165@qq.com" />
  <!-- 发出错误邮箱的密码 -->
  <add key="ErrorReportMailPassword" value="E62C963F2C098F7BD6B2B3E4812A49DD" />
  <!-- 发出错误邮箱的名称 -->
  <add key="ErrorReportMailName" value="至善堂" />
  <!-- 发出错误邮箱设置邮箱主机 -->
  <add key="ErrorReportMailHost" value="smtp.exmail.qq.com" />
  <!--网站域名，必须80端口，不要以/结尾-->
  <add key="Domain" value="http://test.gxitcom.com"/>
  <!--微信Token-->
  <add key="Token" value="DAE3FF0A834D17E2"/>
  <!--微信消息体加密对应的EncodingAESKey-->
  <add key="EncodingAESKey" value="IPnYGtRRMwEgUfIYwmOix6ugf93ZmI4ZrtNsPqj9E9q"/>
  <!--微信AppId-->
  <add key="AppID" value="wx45e237e4f7f0b9c0"/>
  <!--微信AppSecret-->
  <add key="AppSecret" value="1fc6670b6c71c725dc92153068d8c2cc"/>
  <!--用于微信支付的PartnerKey-->
  <add key="PartnerKey" value=""/>
  <!--用于微信支付的商户号-->
  <add key="mch_id" value=""/>
  <!--用于微信支付的设备号-->
  <add key="device_info" value=""/>
  <!--用于微信支付的服务端IP地址-->
  <add key="spbill_create_ip" value=""/>

  <!--微信Oauth: 
     snsapi_base:      不弹出授权页面，直接跳转，只能获取用户openid;
     snsapi_userinfo:  出授权页面，可通过openid拿到昵称、性别、所在地。并且，即使在未关注的情况下，只要用户授权，也能获取其信息.-->
  <add key="OauthScope" value="snsapi_userinfo"/>

  <!--是否开启微信JS接口，1：开启，0：不开启（由于开启JS功能需要定时获取jstickect,会消耗一部分性能，所以不需要JS接口的请写0）-->
  <add key="OpenJSSDK" value="1"/>

  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>




  <!--微信支付配置-->
  <add key="WEPAY_CHARTSET" value="utf-8" />
  <add key="WEPAY_PAY_URL" value="https://api.mch.weixin.qq.com/pay/unifiedorder" />
  <add key="WEPAY_ORDERQUERY_URL" value="https://api.mch.weixin.qq.com/pay/orderquery" />
  <add key="WECHAT_AUTH_URL" value="https://open.weixin.qq.com/connect/oauth2/authorize" />
  <add key="WECHAT_TOKEN_URL" value="https://api.weixin.qq.com/sns/oauth2/access_token" />
  <add key="WECHAT_CALLBACKIP_URL" value="https://api.weixin.qq.com/cgi-bin/getcallbackip" />
  <add key="WECHAT_GETTOKEN_URL" value="https://api.weixin.qq.com/cgi-bin/token" />

  <!--开发者平台配置-->
  <add key="WEPAY_APP_APPID" value="wxe21d39aba5b204ca" />
  <add key="WEPAY_APP_MCH_ID" value="1248696401" />
  <add key="WEPAY_APP_NOTIFY_URL" value="http://www.nnbjcs.com/payment/WepayWebNotify" />
  <add key="WEPAY_APP_URL" value="https://api.mch.weixin.qq.com/pay/unifiedorder" />
  <add key="WEPAY_APP_KEY" value="124fd43801b6e6feac7df81651f5fa03" />


  <!--公众号平台配置-->
  <add key="WEPAY_WEB_APPID" value="wxe21d39aba5b204ca" />
  <add key ="WEPAY_WEb_AppSecret" value ="124fd43801b6e6feac7df81651f5fa03"/>
  <add key="WEPAY_WEB_APIPAYKEY" value="mvd8UhLkFDAryIGDUkaYNpFHuW9pO2uk"/>
  <add key="WEPAY_WEB_MCH_ID" value="1248696401" />
  <add key="WEPAY_WEB_NOTIFY_URL" value="http://am.zst0771.com/Pay/WepayWebNotify" />
  <add key="WEPAY_WEB_URL" value="https://api.mch.weixin.qq.com/pay/unifiedorder" />
  <!--<add key="WEPAY_WEB_KEY" value="p8pyx99vgsnxdjb15kq1djlcz6ve0s2n" />-->
  <add key="WEPAY_WEB_KEY" value="mvd8UhLkFDAryIGDUkaYNpFHuW9pO2uk" />
<!--企业付款给个人异步通知-->
  <add key="WebUrl" value="am.zst0771.com" />
  

  <!--拓强智能电表接口配置-->
  <add key="server" value="http://139.224.191.69" />
  <add key="auth_code" value="e86c6fb6a8646f5d00f86bb16e053e13" />
  <add key="random_code" value="PBRUKfNf9TZXBOb05lEV9Qz" />
  <add key="notify_url" value="http://am.zst0771.com/Callback" />
  <add key="auto_gen_opr_id" value="true" />
  
  
  
  
</appSettings>