@{
    ViewBag.Title = "Fx_UserPVCount》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/ProductModule/Fx_UserPVCount/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/ProductModule/Fx_UserPVCount/SubmitForm?KeyValue=" + KeyValue, postData, function (data) {
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class='formTitle'>Number：</th>
            <td class='formValue'>
                <input id="Number" maxlength=50 type="text" class="txt"   />
            </td>
            <th class='formTitle'>UNumber：</th>
            <td class='formValue'>
                <input id="UNumber" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>UserName：</th>
            <td class='formValue'>
                <input id="UserName" maxlength=50 type="text" class="txt"   />
            </td>
            <th class='formTitle'>RealName：</th>
            <td class='formValue'>
                <input id="RealName" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>IP：</th>
            <td class='formValue'>
                <input id="IP" maxlength=50 type="text" class="txt"   />
            </td>
            <th class='formTitle'>Browser：</th>
            <td class='formValue'>
                <input id="Browser" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>Sign：</th>
            <td class='formValue'>
                <input id="Sign" maxlength=10 type="text" class="txt"   />
            </td>
            <th class='formTitle'>CreateTime：</th>
            <td class='formValue'>
                <input id="CreateTime" maxlength=23 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>OpenId：</th>
            <td class='formValue'>
                <input id="OpenId" maxlength=100 type="text" class="txt"   />
            </td>
            <th class='formTitle'>Remark：</th>
            <td class='formValue'>
                <input id="Remark" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
        </tr>
    </table>
</form>
