@{
    ViewBag.Title = "Am_Repair》明细页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<link rel="stylesheet" type="text/css" media="screen" href="~/Content/Styles/960.css" />
<link rel="stylesheet" type="text/css" media="screen" href="~/Content/Styles/main.css" />
<script type="text/javascript" src="~/Content/Scripts/image/demo.js"></script>
<script type="text/javascript">
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/AmmeterModule/Am_Repair/SetForm", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebLable(data);
            });
        }
    }
</script>
<form id="form1" style="margin: 1px">
    <table class="form">
        <tr><td colspan="4" style="text-align:center;font-weight:bold; font-size:16px;">报修信息</td></tr>
    </table>
    <table class="form">
        <tr>
            <th class='formTitle'>租户：</th>
            <td class='formValue'>
                <label id="UserName" />
            </td>
            <th width="10"></th>
            <td class='formValue' rowspan="6">
                <div class="container_12" id="wrapper">
                    <div class="grid_8" id="content">
                        <br /><br /><br /><br /><br /><br /><br />

                        <!-- relevant for the tutorial - start -->
                        <div class="grid_6 prefix_1 suffix_1" id="gallery">
                            <div id="pictures">
                                <a href="http://www.baidu.com"><img src="~/Content/UiImages/testimages/picture1.png" alt="" /></a>
                                <a href="http://www.baidu.com"><img src="~/Content/UiImages/testimages//picture2.png" alt="" /></a>
                                <a href="http://www.baidu.com"><img src="~/Content/UiImages/testimages//picture3.png" alt="" /></a>
                                <a href="http://www.baidu.com"><img src="~/Content/UiImages/testimages//picture4.png" alt="" /></a>
                                <a href="http://www.baidu.com"> <img src="~/Content/UiImages/testimages//picture5.png" alt="" /></a>
                            </div>

                            <div class="grid_3 alpha" id="prev">
                                <a href="#previous">&laquo; 上一张</a>
                            </div>
                            <div class="grid_3 omega" id="next">
                                <a href="#next">下一张 &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th class='formTitle'>租户姓名：</th>
            <td class='formValue'>
                <label id="U_Name" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>业主：</th>
            <td class='formValue'>
                <label id="F_UserName" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>业主姓名：</th>
            <td class='formValue'>
                <label id="F_Name" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>省：</th>
            <td class='formValue'>
                <label id="Province" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>市：</th>
            <td class='formValue'>
                <label id="City" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>区：</th>
            <td class='formValue' colspan="3">
                <label id="County" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>单元：</th>
            <td class='formValue' colspan="3">
                <label id="Cell" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>楼层：</th>
            <td class='formValue' colspan="3">
                <label id="Floor" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>房号：</th>
            <td class='formValue' colspan="3">
                <label id="Room" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>地址：</th>
            <td class='formValue' colspan="3">
                <label id="Address" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>状态：</th>
            <td class='formValue' colspan="3">
                <label id="StatusStr" style="color:blue;font-weight:bold;" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>报修时间：</th>
            <td class='formValue' colspan="3">
                <label id="CreateTime" style="color:red;font-weight:bold;" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>报修内容：</th>
            <td class='formValue' colspan="3">
                <textarea id="RContent" name="RContent" maxlength="200" class="txtArea" rows="4"></textarea>
            </td>
        </tr>
    </table>
    <table class="form">
        <tr><td colspan="4" style="text-align:center;font-weight:bold; font-size:16px;">报修图片</td></tr>
    </table>
    <table class="form" id="billcontent">
        <tr>
            <th class='formTitle' style="width:30%;text-align:center;">收费项目</th>
            <th class='formTitle' style="width:20%;text-align:center;">金额</th>
            <th class='formTitle' style="width:50%;text-align:center;">说明</th>
        </tr>
    </table>
</form>
