@{
    ViewBag.Title = "Am_AmDepositDetail";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(function () {
        GetGrid();
    })
    //加载表格
    function GetGrid() {
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/AmmeterModule/Am_AmDepositDetail/GridPageJson")",
            datatype: "json",
            height: $(window).height() - 149,
            autowidth: true,
            colModel: [
                    { label: 'Number', name: 'Number', index: 'Number', width: 0, align: 'left', hidden: true },
                    { label: '帐号', name: 'UserName', index: 'UserName', width: 150, align: 'left' },
                    { label: '姓名', name: 'U_Name', index: 'U_Name', width: 150, align: 'left' },
                    { label: '返还金额', name: 'Money', index: 'Money', width: 120, align: 'left' },
                    { label: '剩余押金', name: 'CurrMoney', index: 'CurrMoney', width: 120, align: 'left' },
                    {
                        label: "日期时间", name: "CreateTime", index: "CreateTime", width: 200,
                        formatter: function (value, options, rowObject) {
                            return formatDate(value, 'yyyy-MM-dd hh:mm:ss');
                        }
                    },
                    { label: '备注', name: 'Mark', index: 'Mark', width: 350, align: 'left' },
            ],
            pager: "#gridPager",
            sortname: 'CreateTime',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
        });
    }
    //明细
    function btn_detail() {
        var KeyValue = GetJqGridRowValue("#gridTable", "Number");
        if (IsChecked(KeyValue)) {
            var url = "/AmmeterModule/Am_AmDepositDetail/Detail?KeyValue=" + KeyValue;
            Dialog(url, "Detail", "明细", 820, 500, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
    }
    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }
    //搜索
    function btn_Search() {
        var keywords = $("#keywords").val();
        var ProvinceId = "", CityId = "", CountyId = "";
        if (IsNullOrEmpty($("#ProvinceId").val())) {
            ProvinceId = $("#ProvinceId").find("option:selected").text();
        }
        if (IsNullOrEmpty($("#CityId").val())) {
            CityId = $("#CityId").find("option:selected").text();
        }
        if (IsNullOrEmpty($("#CountyId").val())) {
            CountyId = $("#CountyId").find("option:selected").text();
        }
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/AmmeterModule/Am_AmDepositDetail/GridPageListJson")?keywords=" + keywords +
                '&ProvinceId=' + ProvinceId + '&CityId=' + CityId + '&CountyId=' + CountyId, page: 1
    }).trigger('reloadGrid');
    }
    //要打印数据源，子页面调用的函数
    function PrintDataSource() {
        var columnModel = $("#gridTable").jqGrid('getGridParam', 'colModel');
        var dataModel = $("#gridTable").jqGrid("getRowData");
        //var footerData = $("#gridTable").jqGrid("footerData");
        var JsonData = {
            columnModel: columnModel,
            dataModel: dataModel,
            //footerData: footerData,
        }
        return JsonData;
    }
    //点击打印
    function btn_Print() {
        PrintDialog("/Utility/PrintPage", "PrintPage", "打印当前页", 1200, 500, function (iframe) {
            top.frames[iframe].SubmitPrint()
        });
    }
    //导出Excel
    function btn_derive() {
        Loading(true, "正在处理要导出数据...");
        var keywords = $("#keywords").val();
        window.setTimeout(function () {
            location.href = "/AmmeterModule/Am_AmDepositDetail/ExportExcel??keywords=" + keywords;
            Loading(false);
        }, 200);
    }
</script>
<!--工具栏-->
<div class="tools_bar leftline rightline" style="margin: 1px; margin-bottom: 0px;">
    <div class="PartialButton">
        @Html.Partial("_PartialButton")
    </div>
</div>
<div class="leftline rightline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px;">
    <table border="0" class="form-find" style="height: 45px;">
        <tr>
            <th>关键字：</th>
            <td>
                <input id="keywords" type="text" class="txt" style="width: 200px" />
            </td>
            <td>
                <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
            </td>
        </tr>
    </table>
</div>
<div class="topline rightline" style="margin: 1px; margin-top: -1px;">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
