@{
    ViewBag.Title = "电表历史用户查询";
    Layout = "~/Views/Shared/_Partial.cshtml";
}

<div class="all">
    <header class="header clear">
        <a href="javascript:history.go(-1);" class="return fl"></a>
        <h1 class="title">历史电表用户查询</h1>
    </header>
    <div class="acc-se bbot clear">
        <input type="text" class="acc-in list-mi fl" placeholder="表单">
        <button class="acc-btn fr">搜索</button>
    </div>
    <div id="containerList"></div>
    
         

</div>

<link href="~/Content/Scripts/layui/css/layui.css" rel="stylesheet" />
<script src="~/Content/Scripts/layui/layui.js"></script>
<script>
    $("#ammeterCode").val(GetQuery("ammeterCode"));
    $("#name").val(GetQuery("name"));
    layui.use('flow', function(){
        var flow = layui.flow;
        var count=0;
        if (@ViewBag.recordCount!=null) {
            count=@ViewBag.recordCount;
        }

        flow.load({
            elem: '#containerList', //流加载容器
            scrollElem: '',
            done: function(page, next){ //执行下一页的回调
                //模拟数据插入
                setTimeout(function () {

                    var par=window.location.search.replace("?","").split('&');
                    var parList=[];
                    for (var i in par) {
                        var arr=par[i].split('=');
                        if (arr.length>0) {
                            parList[arr[0]]=arr[1];
                        }
                    }
                    parList["pageIndex"]=page;
                    var data='';
                    for (var i in parList) {
                        data+=i+"="+parList[i]+"&";
                    }
                    $.post("/Proprietor/AmmeterUser",data, function (data) {
                        var lis = [];
                        for (var i in data) {
                            lis.push("<div class=\"list-index\"  >");
                            lis.push("<a class=\"pro repair-m\" href=\"/Proprietor/AmmeterUserDetailsList?ammeterNumber="+data[i].Number+"\">");
                            lis.push("<div class=\"my-bill clear\"><span class=\"bill-span fl\">表号："+data[i].AM_Code+"</span></div>");
                            lis.push("<span class=\"bill-span\">区域："+data[i].Province+data[i].City+data[i].County+data[i].Address+"</span>");
                            lis.push("<span class=\"bill-span\">房号："+data[i].Cell+"单元 "+data[i].Floor+"层 "+data[i].Room+"号</span>");
                            lis.push("<i class=\"icon-next\"></i>");
                            lis.push("</a>");
                            lis.push("</div>");
                        }
                        next(lis.join(''), page < count);
                    });

                }, 500);
            }
        });
    });
</script>