@{
    ViewBag.Title = "押金明细";
    Layout = "~/Views/Shared/_Partial.cshtml";
}


<div class="all">
    <header class="header clear">
        <a href="javascript:history.go(-1);" class="return fl"></a>
        <h1 class="title">设备押金</h1>
    </header>
    <div class="charge-top bbot">
        <span class="charge-span">剩余设备押金：@ViewBag.deposit 元</span>
        <span class="charge-span">已返设备押金：@ViewBag.returned 元</span>
    </div>
    <div class="gary"></div>
    <div class="ep-de btop bbot clear">
        <span class="pen-span fl">金额</span>
        <span class="pen-span fl">说明</span>
        <span class="pen-span pen-time fl">时间</span>
    </div>
    <div class="ep-de bbot clear">
        <span class="pen-span fl">1000.00</span>
        <span class="pen-span fl">押金返还</span>
        <span class="pen-span pen-time fl">2018-02-02 12:12:12</span>
    </div>
    <div class="ep-de bbot clear">
        <span class="pen-span fl">1000.00</span>
        <span class="pen-span fl">押金返还</span>
        <span class="pen-span pen-time fl">2018-02-02 12:12:12</span>
    </div>
    <div class="ep-de bbot clear">
        <span class="pen-span fl">1000.00</span>
        <span class="pen-span fl">押金返还</span>
        <span class="pen-span pen-time fl">2018-02-02 12:12:12</span>
    </div>
    <div class="ep-de bbot clear">
        <span class="pen-span fl">1000.00</span>
        <span class="pen-span fl">押金返还</span>
        <span class="pen-span pen-time fl">2018-02-02 12:12:12</span>
    </div>
</div>


