@{
    ViewBag.Title = "历史账单";
    Layout = "~/Views/Shared/_Partial.cshtml";
}

<div class="all">
    <header class="header clear">
        <a href="javascript:history.go(-1);" class="return fl"></a>
        <h1 class="title">历史账单</h1>
    </header>
    <div class="bill-all">
        <a href="/Proprietor/AmmeterBill" class="repair bbot clear"><span class="bill-text m-man fl">电表账单记录</span><i class="icon-next fr"></i></a>
        <a href="/Proprietor/UserList" class="repair bbot clear"><span class="bill-text m-man fl">租户账单记录</span><i class="icon-next fr"></i></a>
    </div>
</div>

