@{
    ViewBag.Title = "退租管理";
    Layout = "~/Views/Shared/_Partial.cshtml";
}

<div class="all">
    <header class="header clear">
        <a href="javascript:history.go(-1);" class="return fl"></a>
        <h1 class="title">退租管理</h1>
    </header>
    <div class="bill-all">
        <a href="/Proprietor/RentingAuditList" class="repair bbot clear"><span class="bill-text m-man fl">退租审核</span><i class="icon-next fr"></i></a>
        <a href="/Proprietor/RentRecordList" class="repair bbot clear"><span class="bill-text m-man fl">退租记录</span><i class="icon-next fr"></i></a>
    </div>
</div>

