@{
    ViewBag.Title = "用户历史账单列表";
    Layout = "~/Views/Shared/_Partial.cshtml";
}

<div class="all">
    <header class="header clear">
        <a href="javascript:history.go(-1);" class="return fl"></a>
        <h1 class="title">用户历史账单列表</h1>
    </header>

    <div class="acc-se bbot clear">
        <form action="/Proprietor/UserBillList" method="get">
            <input type="text" class="acc-in fl" name="starTime" id="test1" placeholder="开始时间">
            <input type="text" class="acc-in fl" name="endTime" id="test2" placeholder="结束时间">
            <button class="acc-btn fr" type="submit">查询</button>
        </form>
    </div>


    <div id="containerList">
    </div>
</div>

<link href="~/Content/Scripts/layui/css/layui.css" rel="stylesheet" />
<script src="~/Content/Scripts/layui/layui.js"></script>
<script>
    $("#ammeterNumber").val(GetQuery("ammeterNumber"));
    $("#name").val(GetQuery("name"));
    $("#test1").val(GetQuery("starTime"));
    $("#test2").val(GetQuery("endTime"));
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#test1' ,value: GetQuery("starTime")
        });
        laydate.render({
            elem: '#test2' ,value: GetQuery("endTime")
        });
    });
    layui.use('flow', function(){
        var flow = layui.flow;
        var count=0;
        if (@ViewBag.recordCount!=null) {
            count=@ViewBag.recordCount;
        }
        flow.load({
            elem: '#containerList', //流加载容器
            scrollElem: '',
            done: function(page, next){ //执行下一页的回调
                //模拟数据插入
                setTimeout(function () {

                    var par=window.location.search.replace("?","").split('&');
                    var parList=[];
                    for (var i in par) {
                        var arr=par[i].split('=');
                        if (arr.length>0) {
                            parList[arr[0]]=arr[1];
                        }
                    }
                    parList["pageIndex"]=page;
                    var data='';
                    for (var i in parList) {
                        data+=i+"="+parList[i]+"&";
                    }
                    $.post("/Proprietor/UserBillList",data, function (data) {
                        var lis = [];
                        for (var i in data) {
                            lis.push("<div class=\"list-index\"  >");
                            lis.push("<a class=\"pro repair-m\" href=\"/Proprietor/BillingDetails?number="+data[i].Number+"\">");
                            lis.push("<table>");
                            lis.push("<tr><td>账单号："+data[i].BillCode+"</td><td>金额："+parseFloat(data[i].Money).toFixed(2)+"元</td></tr>");
                            lis.push("<tr><td>姓名："+data[i].T_U_Name+"</td><td>手机号："+data[i].T_UserName+"</td></tr>");
                            lis.push("<tr><td>时间："+formatDate(data[i].CreateTime,"yyyy-MM-dd")+"</td><td>状态："+data[i].StatusStr+"</td></tr>");
                            lis.push("</table>");
                            lis.push("<i class=\"icon-next\"></i>");
                            lis.push("</a>");
                            lis.push("</div>");
                        }
                        next(lis.join(''), page < count);
                    });

                }, 500);
            }
        });
    });
</script>
